<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="icon" href="static/picture/favicon.ico" type="image/x-icon">
    <title>{% block title %}{% endblock %}</title>

    <!-- Yandex.Metrika counter -->
        <script type="text/javascript" >
           (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
           m[i].l=1*new Date();
           for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
           k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
           (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

           ym(97761101, "init", {
                clickmap:true,
                trackLinks:true,
                accurateTrackBounce:true,
                webvisor:true
           });
        </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/97761101" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->

</head>
<body class="text-bg-dark">
<!--<body class="">-->
    <header class="p-3 text-bg-dark justify-content-center d-flex">

        <ul class="nav nav-pills">
        <li><a href="/home" class="nav-link px-2 {% if current_page == 'home' %}text-secondary{% else %}text-white{% endif %}">Home</a></li>
        <li><a href="/vocabulary" class="nav-link px-2 {% if current_page == 'vocabulary' %}text-secondary{% else %}text-white{% endif %}">Vocabulary</a></li>
        <li><a href="/listening" class="nav-link px-2 {% if current_page == 'listening'%}text-secondary{% elif current_page == 'listening_2'%}text-secondary{% else %}text-white{% endif %}">Listening</a></li>
        <li><a href="/speaking" class="nav-link px-2 {% if current_page == 'speaking' %}text-secondary{% else %}text-white{% endif %}">Speaking</a></li>
        <li><a href="/about" class="nav-link px-2 {% if current_page == 'about' %}text-secondary{% else %}text-white{% endif %}">About</a></li>
      </ul>
</header>
    {% block body %}{% endblock %}


  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li><a href="/home" class="nav-link px-2 {% if current_page == 'home' %}text-secondary{% else %}text-white{% endif %}">Home</a></li>
        <li><a href="/vocabulary" class="nav-link px-2 {% if current_page == 'vocabulary' %}text-secondary{% else %}text-white{% endif %}">Vocabulary</a></li>
        <li><a href="/listening" class="nav-link px-2 {% if current_page == 'listening'%}text-secondary{% elif current_page == 'listening_2'%}text-secondary{% else %}text-white{% endif %}">Listening</a></li>
        <li><a href="/speaking" class="nav-link px-2 {% if current_page == 'speaking' %}text-secondary{% else %}text-white{% endif %}">Speaking</a></li>
        <li><a href="/about" class="nav-link px-2 {% if current_page == 'about' %}text-secondary{% else %}text-white{% endif %}">About</a></li>
    </ul>
    <p class="text-center text-secondary">© 2024 Learn english like a native</p>
  </footer>

</body>
</html>