{% extends 'base.html' %}

{% block title %}
Home - Learn english like a native with YouTube
{% endblock %}


{% block body %}
<div class="container">
    <div class="card text-bg-dark">
        <div class="card-body">
                <h1 class="text-center mb-4">Generate Test Case from User Story</h1>
                <div class="row">
                    <div class="text-center list-unstyled">
                        <form method="post">

                            <p class="fs-5 mb-4">
                                Insert User Story in the field below:
                            </p>
                            <footer class="blockquote-footer text-grey">
                                Example of User Story: "Requirement: 'User must be able to register with a valid email and a strong password'. Create a detailed test case."
                            </footer>

                            <textarea id="user_story" name="user_story" rows="4" cols="50" placeholder="Insert User story">{{ user_story }}</textarea><br><br>
                            <!-- <button type="submit">Generate Test Case</button> -->
                            <input type="submit" class="btn btn-outline-light btn-lg px-4" value="Start to generate Test Case">
                        </form>
                        {% if list_of_tests %}
                            <h2>Generated Test Case:</h2>

                            <!-- <p>{{ test_case }}</p> -->

                            <table class="table table-dark table-striped">
                              <tr>
                                <th>ID</th><th>Title</th><th>Steps</th><th>Expected</th>
                              </tr>
                              {% for t in list_of_tests %}
                              <tr>
                                <td>{{ t.ID }}</td>
                                <td>{{ t['Title test case'] }}</td>
                                <td>{{ t['Steps'] }}</td>
                                <td>{{ t['Expected Result'] }}</td>
                              </tr>
                              {% endfor %}
                            </table>

                        {% endif %}
                    </div>
                </div>
        </div>
    </div>
</div>

{% endblock %}